# Ignore Gradle and build outputs
.gradle/
.gradle-user-home/
build/
**/build/

# IDE
.idea/
*.iml

# Local machine config
local.properties
.android-user-home/
.kotlin/
*.log
*.keystore
*.lock

# OS
.DS_Store
Thumbs.db
